<p id="notice"><%= notice %></p>
<div id="category-bar">
  <p>
    <strong>
      <%= @product.category.name %>
    </strong>
  </p>
</div>
<div class="row">
  <div class="col-md-5">
    <p>
      <%= image_tag @product.image.url, class: "product-show-pic" %>
    </p>
  </div>
  <div class="col-md-7">
    <p><%= link_to @product.brand, branding_path(brand: @product.brand) %></p> 
    <h2>
      <%= @product.name %>
    </h2>
    <p>
      <%#= @product.rating %>
    </p>

    <p>
      Price: <%= number_to_currency @product.price %>
    </p>

    <p>
      <%= @product.quantity %> <em>in stock</em>
    </p>

    <h5>Product Description</h5>
    <p>
      <%= @product.description %>
    </p>
  </div>
</div>

<p>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %>
</p>



